.dropDown {
  background-color: #0067B1;
  color: white;
  border-radius: 20px;
  margin-right: 20px;

  &:hover {
    background-color: #004B87;
  }
}

.titleBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}

.title {
  text-align: center;
  flex-grow: 1;
}

.searchButton {
  margin-left: 20px;
  background-color: #0067B1;
  color: white;

  &:hover {
    background-color: #004B87;
  }
}

.icon {
  color: #065cac;
}

mat-card {
  background-color: transparent;
  box-shadow: none !important;
}

mat-table {
  background-color: transparent;
}
