<ng-container *ngIf="program">
  <mat-card class="mat-elevation-z4 program-detail-card">
    <mat-card-header>
      <mat-card-title>
        🎓 {{ program.naziv }}
      </mat-card-title>
      <mat-card-subtitle>
        Katedra: {{ program.katedra.naziv }}
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div class="program-info">
        <p *ngIf="program.katedra?.sefKatedre">
          <mat-icon class="icon">person</mat-icon>
          <strong>Rukovodilac smera:</strong>
          {{ program.katedra.sefKatedre.osoba.ime }}
          {{ program.katedra.sefKatedre.osoba.prezime }}
          
        </p>

        <h3>
          <mat-icon class="icon">calendar_today</mat-icon>
          Godine studija
        </h3>
        <mat-divider></mat-divider>

  <ul>
      <mat-icon class="icon">book</mat-icon>
  </ul>
  <mat-divider></mat-divider>
</div>



    </mat-card-content>
  </mat-card>
</ng-container>
