<h2 mat-dialog-title>Izmeni Sifarnik</h2>

  <mat-dialog-content style="max-height: 70vh; overflow-y: auto;">
    <form [formGroup]="form" (ngSubmit)="save()">

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label> Naziv </mat-label>
        <input matInput formControlName="naziv" />
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label> Tekst </mat-label>
        <textarea matInput formControlName="tekst" rows="6"></textarea>
      </mat-form-field>
      
    </form>
  </mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Otkaži</button>
  <button mat-flat-button color="primary" (click)="save()" [disabled]="form.invalid">Sačuvaj</button>
</mat-dialog-actions>