<mat-card class="mat-elevation-z4 forum-list-card">
  <mat-card-title>
    <mat-icon class="icon">forum</mat-icon> Forumi na kojima je korisnik član
  </mat-card-title>

  <mat-card-content>
    <mat-nav-list *ngIf="forumi?.length && forumi.length > 0; else noForums">
      <a mat-list-item *ngFor="let forum of forumi" [routerLink]="['/forum', forum.id]">
        <mat-icon matListIcon color="primary">chat</mat-icon>
        <span matLine>{{ forum.naziv }}</span>
      </a>
    </mat-nav-list>

    <ng-template #noForums>
      <p class="empty-info">Niste član nijednog foruma.</p>
    </ng-template>
  </mat-card-content>
</mat-card>
