.title{
    text-align: center;
    flex-grow: 1;
}
.titleBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}

.buttonBar{
  display: flex;
  justify-content: center; /* center horizontally */
  margin: 16px 0;
}

.akcije{
  display: flex;
  justify-content: flex-end;
}

mat-row:nth-child(odd) {
  background-color: #dbdbdb; 
}

mat-card, mat-table{
  background-color: transparent;
  box-shadow: none !important;
}
