.studijski-programi-card {
  max-width: 600px;
  margin: 2rem auto;
  padding: 1rem;

  mat-card-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: #065cac;
  }

  mat-nav-list {
    a.mat-list-item {
      border-radius: 8px;
      margin-bottom: 0.5rem;
      transition: background-color 0.2s;

      &:hover {
        background-color: #e3f2fd;
      }

      mat-icon {
        margin-right: 1rem;
      }

      span {
        font-weight: 500;
      }
    }
  }
}
