<div *ngIf="evaluacije" class="content">
  <h2 *ngIf="realizacija" style="text-align: center;">Evaluacije za predmet: {{ realizacija.predmet.naziv }}</h2>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Izaberi evaluaciju</mat-label>
    <mat-select [(ngModel)]="selektovanaEvaluacijaId" (selectionChange)="ucitajZadatke()">
      <mat-option *ngFor="let eval of evaluacije" [value]="eval.id">
        {{ eval.naziv }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-flat-button color="primary" (click)="otvoriDodavanjeZadatka()" [disabled]="!selektovanaEvaluacijaId">Dodaj zadatak</button>
  
  <div *ngIf="zadaci.length > 0" class="zadaci-box">
    <h3 style="text-align:center; margin-bottom: 8px;">Zadaci za evaluaciju: {{ selektovanaEvaluacija.naziv }}</h3>

    <mat-card *ngFor="let z of zadaci" class="zadaci">
      <div style="font-weight: 600; margin-bottom: 8px;">{{ z.pitanje }}</div>

      <div *ngIf="z.odgovori?.length > 0" class="odgovori">
        <div *ngFor="let o of z.odgovori" class="odgovor">
          
          <mat-icon *ngIf="o.tacan" color="primary">check_circle</mat-icon>
          <mat-icon *ngIf="!o.tacan" color="warn">cancel</mat-icon>
          
          <span style="flex: 1;">{{ o.odgovor }}</span>
        </div>
      </div>

      <div *ngIf="!z.odgovori?.length" style="font-style: italic; color: gray; margin-left: 16px;">
        Nema odgovora.
      </div>
    </mat-card>
  </div>
</div>
