<mat-card class="mat-elevation-z4">
    <div class="titleBar">

      <mat-menu #filterMenu="matMenu" class="filter-menu">
        <ng-template matMenuContent>
          <div style="padding: 16px; max-height: 500px; overflow-y: auto; overflow-x: hidden; width: 100%; box-sizing: border-box;" (click)="$event.stopPropagation()">
            <mat-form-field appearance="fill" style="width: 100%;">
              <mat-label>Naziv</mat-label>
              <input matInput [(ngModel)]="filter.naziv" (input)="applyFilter()" />
            </mat-form-field>

            <mat-form-field appearance="fill" style="width: 100%;">
              <mat-label>Katedra</mat-label>
              <input matInput [(ngModel)]="filter.katedra" (input)="applyFilter()" />
            </mat-form-field>

            <mat-checkbox [(ngModel)]="filter.obrisano" (change)="applyFilter()">Prikaži obrisane</mat-checkbox>
          </div>
        </ng-template>
      </mat-menu>

      <button mat-icon-button [matMenuTriggerFor]="filterMenu" [matMenuTriggerRestoreFocus]="false" class="searchButton">
        <mat-icon>search</mat-icon>
      </button>

      <div style="width: 40px;"></div>
      <mat-card-title class="title">Administracija Studijskih Programa</mat-card-title>

      <button mat-icon-button [matMenuTriggerFor]="menu" class="dropDown">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="generatePDF()">
          <mat-icon>picture_as_pdf</mat-icon>
          <span>Preuzmi PDF</span>
        </button>
        <button mat-menu-item (click)="generateXML()">
          <mat-icon>code</mat-icon>
          <span>Preuzmi XML</span>
        </button>
      </mat-menu>
    </div>

    <div class="buttonBar">
      <button mat-flat-button color="primary" (click)="dodaj()">Dodaj Studijski Program</button>
    </div>

  <mat-table [dataSource]="studijskiProgrami" class="mat-elevation-z1">

    <ng-container matColumnDef="naziv">
      <mat-header-cell *matHeaderCellDef> Naziv </mat-header-cell>
      <mat-cell *matCellDef="let program"> {{ program.naziv }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="katedra">
      <mat-header-cell *matHeaderCellDef> Katedra </mat-header-cell>
      <mat-cell *matCellDef="let program"> {{ program.katedra?.naziv || '-' }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="obrisano">
      <mat-header-cell *matHeaderCellDef> Obrisano </mat-header-cell>
      <mat-cell *matCellDef="let program"> {{ program.obrisano }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="akcije">
      <mat-header-cell *matHeaderCellDef> Akcije </mat-header-cell>
      <mat-cell *matCellDef="let program">

        <button mat-icon-button color="primary" (click)="izmeni(program)">
          <mat-icon class="icon">edit</mat-icon>
        </button>

        <button mat-icon-button color="warn" (click)="obrisi(program)">
          <mat-icon class="icon">delete</mat-icon>
        </button>

        <button mat-icon-button color="accent" (click)="vrati(program)" *ngIf="program.obrisano">
      <mat-icon class="icon">restore</mat-icon>
        </button>

      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</mat-card>
