.dropDown {
  background-color: #0067B1;
  color: white;
  border-radius: 20px;
  margin-right: 20px;

  &:hover {
    background-color: #004B87;
  }
}

.titleBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}

.title{
    text-align: center;
    flex-grow: 1;
}

.buttonBar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.searchButton{
  margin-left: 20px;
  background-color: #0067B1;
  color: white;

  &:hover {
    background-color: #004B87;
  }
}