<h2>Predmeti na kojima ste aktivni</h2>

<ul *ngIf="realizacijaPredmeta.length > 0; else nemaPredmeta">
  <li *ngFor="let realizacijaPredmeta of realizacijaPredmeta" class="predmet-item">
    {{ realizacijaPredmeta.predmet.naziv }} (šifra: {{ realizacijaPredmeta.predmet.brojPredavanja }})
    <a [routerLink]="['/nastavnik/predmet', realizacijaPredmeta.id,'studenti']">Pregled studenata</a>
    <button [routerLink]="['/nastavnik/silabus', realizacijaPredmeta.id]">Uredi silabus</button>
    <button (click)="otvoriTermine(realizacijaPredmeta.id)">Termini i Ishodi</button>
  </li>
</ul>

<ng-template #nemaPredmeta>
  <p>Nemate aktivnih predmeta.</p>
</ng-template>
