<h2>Predmeti na kojima ste aktivni</h2>

<ul *ngIf="predmeti.length > 0; else nemaPredmeta">
  <li *ngFor="let predmet of predmeti" class="predmet-item">
    {{ predmet.predmet.naziv }} (šifra: {{ predmet.predmet.brojPredavanja }})
    <a class="link" [routerLink]="['/nastavnik/predmet', predmet.id, 'studenti']">Pregled studenata</a>
    <a class="link" [routerLink]="['/predmeti', predmet.id, 'evaluacije']">Pregled evaluacija</a>
    <button class="silabus-button" mat-raised-button [routerLink]="['/nastavnik/silabus', predmet.predmet.id]">Uredi silabus</button>
    <button mat-flat-button (click)="otvoriTermine(predmet.id)">Termini i Ishodi</button>
  </li>
</ul>

<ng-template #nemaPredmeta>
  <p>Nemate aktivnih predmeta.</p>
</ng-template>
