mat-table{
    background-color: transparent;
    margin-top: 20px;
}
mat-card-title{
    margin-top: 10px;
}

mat-card{
    padding: 20px;
    text-align: center;
    box-shadow: none !important;
    background-color: transparent;
}

.dodaj-button{
    margin-top: 10px;
}
