<div style="display: flex; justify-content: center; align-items: center; margin-top: 50px;">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="login-form" style="width: 100%; max-width: 400px;">
    <mat-card class="mat-elevation-z4">

      <mat-card-title style="text-align: center; margin-bottom: 20px;margin-top: 20px;">Prijava</mat-card-title>
      
      <mat-card-content style="display: flex; flex-direction: column; align-items: center;; gap: 16px;">
        
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Korisničko ime</mat-label>
            <input matInput type="text" formControlName="username" />
            <mat-error *ngIf="form.get('username')?.invalid && form.get('username')?.touched">
              Korisničko ime je obavezno.
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Lozinka</mat-label>
            <input matInput type="password" formControlName="password" />
            <mat-error *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
              Lozinka mora imati najmanje 6 karaktera.
            </mat-error>
          </mat-form-field>

        <div class="form-actions" style="text-align: center;">
          <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
            Prijavi se
          </button>
        </div>

        <div *ngIf="loginError" class="error-message">
          {{ loginError }}
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>



