<h2>Unos ocena za studenta #{{ studentId }}</h2>

<div *ngFor="let prijava of prijave" class="prijava-forma">
  <h3>{{ prijava.polaganje?.evaluacijaZnanja?.realizacijaPredmeta?.predmet?.naziv || 'Nepoznat predmet' }}</h3>
  <h3>{{ prijava.polaganje?.evaluacijaZnanja?.naziv }}</h3>
  <p>Rok: {{ prijava.polaganje?.rok?.naziv || 'Nepoznat rok' }}</p>

  <form [formGroup]="forme[prijava.id]" (ngSubmit)="onSubmit(prijava.id)">
    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Broj bodova</mat-label>
      <input matInput type="number" formControlName="brojBodova" />
      <mat-error *ngIf="forme[prijava.id].get('brojBodova')?.invalid">
        Unesite broj bodova između 0 i 100
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="forme[prijava.id].invalid">
      Unesi bodove
    </button>
  </form>
  <hr />
</div>
