<div style="display: flex; justify-content: center; margin-top: 40px;">
  <div style="width: 100%; max-width: 600px;">

    <!-- Dodavanje novog udžbenika -->
    <form [formGroup]="dodavanjeUdzbenikaForm" (ngSubmit)="dodajUdzbenik()">
      <mat-card class="mat-elevation-z4" style="margin-bottom: 30px;">
        <mat-card-title>Dodaj novi udžbenik</mat-card-title>
        <mat-card-content>
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Naziv</mat-label>
            <input matInput formControlName="naziv" required>
          </mat-form-field>

          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Autor</mat-label>
            <input matInput formControlName="autor" required>
          </mat-form-field>

          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>ISBN</mat-label>
            <input matInput formControlName="isbn" required>
          </mat-form-field>

          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Količina</mat-label>
            <input matInput type="number" formControlName="kolicina" required>
          </mat-form-field>

          <div style="text-align: center; margin-top: 16px;">
            <button mat-raised-button color="primary" type="submit" [disabled]="dodavanjeUdzbenikaForm.invalid">
              Dodaj Udžbenik
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </form>
    <mat-form-field appearance="outline" class="w-full mb-4">
      <mat-label>Pretraži po nazivu</mat-label>
        <input matInput [(ngModel)]="filterText" (input)="applyFilter()" placeholder="Unesi naziv udžbenika">
        <button mat-icon-button matSuffix *ngIf="filterText" (click)="filterText=''; applyFilter()">
          <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

    <!-- Lista udžbenika sa akcijama -->
    <mat-card class="mat-elevation-z4">
      <mat-card-title>Lista Udžbenika</mat-card-title>
      <mat-card-content>
         
        <div *ngFor="let u of udzbenici" style="margin-bottom: 20px; border-bottom: 1px solid #ccc; padding-bottom: 10px;">
          <h3>{{ u.naziv }} - {{ u.autor }}</h3>
          <p>ISBN: {{ u.isbn }} | Količina: {{ u.kolicina }}</p>

          <!-- Izdavanje -->
          <form [formGroup]="izdavanjeForm" (ngSubmit)="izdajUdzbenik(u)" style="display: flex; gap: 8px; align-items: center;">
            <mat-form-field appearance="outline" style="flex: 2;">
              <mat-label>Student</mat-label>
              <mat-select formControlName="student" required>
                <mat-option *ngFor="let student of studenti" [value]="student.id">{{ student.student.osoba.ime }}  {{student.student.osoba.prezime}} {{student.brojIndeksa}} </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" style="flex: 1;">
              <mat-label>Količina</mat-label>
              <input matInput type="number" formControlName="kolicina" required>
            </mat-form-field>

            <button mat-raised-button color="accent" type="submit" [disabled]="izdavanjeForm.invalid">Izdaj</button>
          </form>

          <!-- Nabavka -->
          <form [formGroup]="nabavkaForm" (ngSubmit)="dopuniNabavku(u)" style="display: flex; gap: 8px; align-items: center; margin-top: 8px;">
            <mat-form-field appearance="outline" style="flex: 1;">
              <mat-label>Nabavka količina</mat-label>
              <input matInput type="number" formControlName="kolicina" required>
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit">Dodaj Nabavku</button>
          </form>

          <!-- Brisanje -->
          <div style="margin-top: 8px;">
            <button mat-stroked-button color="warn" (click)="obrisiUdzbenik(u.id!)">Obriši</button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

  </div>
</div>