<mat-sidenav-container class="sidenav-container" autosize>

  <mat-sidenav #sidenav mode="over" class="sidenav" [fixedInViewport]="true">
    <mat-nav-list>
      <span class="app-title" routerLink="/" style="cursor: pointer; font-weight: bold; font-size: 1.2rem;margin-left: 50px;">
        <mat-icon>school</mat-icon> Univerzitet
      </span>
      
      <a mat-list-item routerLink="/opsta-obavestenja">Obavestenja</a>
      <a mat-list-item routerLink="/fakultet">Fakulteti</a>
      <a mat-list-item routerLink="/studijski-programi">Studijski programi</a>
      <a mat-list-item routerLink="/udzbenici">Knjige</a>

      <a mat-list-item routerLink="/student-predmeti" *ngIf="userRoles?.includes('ROLE_STUDENT')">Moji Predmeti</a>
      <a mat-list-item routerLink="/istorija-studiranja" *ngIf="userRoles?.includes('ROLE_STUDENT')">Istorija studiranja</a>
      <a mat-list-item routerLink="/forum" *ngIf="userRoles?.includes('ROLE_STUDENT')">Forumi</a>
      <a mat-list-item routerLink="/prijava-ispita" *ngIf="userRoles?.includes('ROLE_STUDENT')">Prijava ispita</a>
      <a mat-list-item routerLink="/student/biranje-predmeta" *ngIf="userRoles?.includes('ROLE_STUDENT')">Biranje Predmeta</a>

      <a mat-list-item routerLink="/admin/korisnici" *ngIf="userRoles?.includes('ROLE_ADMIN')">Registrovani Korisnici</a>
      <a mat-list-item routerLink="/admin/studijski-programi" *ngIf="userRoles?.includes('ROLE_ADMIN')">Admin. Studijskih Programa</a>
      <a mat-list-item routerLink="/admin/sifarnici" *ngIf="userRoles?.includes('ROLE_ADMIN')">Sifarnici</a>
      <a mat-list-item routerLink="/admin/dodavanje" *ngIf="userRoles?.includes('ROLE_ADMIN')">Dodavanje Osoblja</a>
      <a mat-list-item routerLink="/admin/pregled-gresaka" *ngIf="userRoles?.includes('ROLE_ADMIN')">Pregled Grešaka</a>

      <a mat-list-item routerLink="/nastavnik-predmeti" *ngIf="userRoles?.includes('ROLE_NASTAVNIK')">Moji Predmeti</a>
      <a mat-list-item routerLink="/forum" *ngIf="userRoles?.includes('ROLE_NASTAVNIK')">Forumi</a>

      <a mat-list-item routerLink="/upis-studenta" *ngIf="userRoles?.includes('ROLE_SLUZBA')">Upis</a>
      <a mat-list-item routerLink="/kreiranje-studenta" *ngIf="userRoles?.includes('ROLE_SLUZBA')">Dodavanje studenta</a>
      <a mat-list-item routerLink="/pregled-programa" *ngIf="userRoles?.includes('ROLE_SLUZBA') || userRoles?.includes('ROLE_ADMIN')">Pregled Studijskih Programa</a>
      <a mat-list-item routerLink="/pregled-rokova" *ngIf="userRoles?.includes('ROLE_SLUZBA')">Pregled Rokova</a>
      <a mat-list-item routerLink="/izvestaj" *ngIf="userRoles?.includes('ROLE_SLUZBA')">Slanje Izvestaja</a>
      <a mat-list-item routerLink="/sluzba/udzbenici" *ngIf="userRoles?.includes('ROLE_SLUZBA')">Izdavanje udzbenika</a>
      <a mat-list-item routerLink="/kancelarijski-materijal" *ngIf="userRoles?.includes('ROLE_SLUZBA')">Kancelarijski materijal</a>
      <a mat-list-item routerLink="/forum" *ngIf="userRoles?.includes('ROLE_SLUZBA')">Forumi</a>

      <a mat-list-item (click)="showPotvrde = !showPotvrde" *ngIf="userRoles?.includes('ROLE_SLUZBA')">
        <div class="flex-center">
          <mat-icon>{{ showPotvrde ? 'expand_less' : 'expand_more' }}</mat-icon>
          Potvrde
        </div>
      </a>
      <div *ngIf="showPotvrde" style="margin-left: 20px;" >
        <a mat-list-item routerLink="/potvrda-o-studiranju" style="font-size: 0.9rem;" *ngIf="userRoles?.includes('ROLE_SLUZBA')">
          <mat-icon>description</mat-icon>
          <span>Potvrda o studiranju</span>
        </a>
        <a mat-list-item routerLink="/potvrda-o-polozenim-predmetima" style="font-size: 0.9rem;" *ngIf="userRoles?.includes('ROLE_SLUZBA')">
          <mat-icon>assignment</mat-icon>
          <span>Potvrda o položenim ispitima</span>
        </a>
      </div>


    </mat-nav-list>
  </mat-sidenav>

<nav class="navbar">
  <mat-toolbar color="primary" class="toolbar" style="display: flex; justify-content: space-between;">
    <!-- Leva strana -->
    <div class="left-section" style="display: flex; align-items: center; gap: 1rem;">

        <button style="color: black;" *ngIf="auth.isLoggedIn()" mat-icon-button (click)="sidenav.toggle()" aria-label="Menu" >
          <mat-icon >menu</mat-icon>
        </button>

        <button style="color: black;" *ngIf="auth.isLoggedIn() && userRoles?.includes('ROLE_ADMIN')" mat-icon-button routerLink="/admin" aria-label="Menu" >
          <mat-icon >home</mat-icon>
        </button>

      <span class="app-title" routerLink="/" style="cursor: pointer; font-weight: bold; font-size: 1.2rem;">
        <mat-icon>school</mat-icon> Univerzitet
      </span>
    </div>

        <div class="student">
          <app-student-pretraga (studentSelected)="selectStudent($event)" *ngIf="userRoles?.includes('ROLE_NASTAVNIK')"></app-student-pretraga>
        </div>

    <!-- Desna strana -->
    <div class="right-section" style="display: flex; align-items: center; gap: 1.5rem;">
      <!-- Ako je korisnik ulogovan -->
      <ng-container *ngIf="auth.isLoggedIn(); else guestLinks">
        <!-- Specifične funkcionalnosti po ulozi -->
        
        <a class="menu-button" mat-button routerLink="/udzbenici">Knjige</a>
        <a class="menu-button" mat-button routerLink="/fakultet">Fakulteti</a>
        <a class="menu-button" mat-button routerLink="/studijski-programi">Studijski programi</a>
          
        <button mat-icon-button [routerLink]="'/edit-profil'" class="profile-button">
          <img [src]="slikaUrl || 'default-avatar.png'" alt="Profile" class="profile-image"/>
        </button>
          

        <button mat-icon-button (click)="logout()" matTooltip="Odjava">
          <mat-icon>logout</mat-icon>
        </button>
      </ng-container>

      <!-- Ako nije ulogovan -->
      <ng-template #guestLinks>
        <a class="menu-button" mat-button routerLink="/udzbenici">Knjige</a>
        <a class="menu-button" mat-button routerLink="/fakultet">Fakulteti</a>
        <a class="menu-button" mat-button routerLink="/studijski-programi">Studijski programi</a>
        <a class="menu-button" mat-button routerLink="/login">Prijava</a>
      </ng-template>
    </div>
  </mat-toolbar>
</nav>

<router-outlet></router-outlet>
</mat-sidenav-container>