<div class="container">
  <h1 class="mb-4 text-2xl font-bold text-center text-white">Fakulteti</h1>

  <div class="grid grid-cols-1 gap-4">
    <mat-card *ngFor="let fakultet of fakulteti" class="bg-gray-800 text-white">
      <mat-card-header>
        <mat-card-title class="text-xl font-semibold">
          {{ fakultet.naziv }}
        </mat-card-title>
        <mat-card-subtitle class="text-gray-400">
          {{ fakultet.univerzitet?.naziv }}
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p><strong>Dekan:</strong> {{ fakultet.dekan?.osoba?.ime }} {{ fakultet.dekan?.osoba?.prezime }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
