<div class="container min-h-screen py-6">
  <h1 style="display: flex; flex-direction: column; align-items: center;" class="mb-4 text-2xl font-bold text-center text-white">Fakulteti</h1>

  <div *ngIf="fakulteti.length > 0; else nemaFakulteta" class="grid grid-cols-1 gap-4">
    <mat-card style="display: flex; flex-direction: column; align-items: center;" *ngFor="let fakultet of fakulteti" class="bg-gray-800 text-white rounded-xl shadow-md">
      <mat-card-header>
        <mat-card-title class="text-xl font-semibold">
          {{ fakultet.naziv }}
        </mat-card-title>
        <mat-card-subtitle class="text-gray-400">
          {{ fakultet.univerzitet.naziv }}
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p><strong>Dekan:</strong> {{ fakultet.dekan.osoba.ime }} {{ fakultet.dekan.osoba.prezime }}</p>
      </mat-card-content>
    </mat-card>
  </div>

  <ng-template #nemaFakulteta>
    <p class="text-center text-gray-400 text-lg mt-8">Trenutno nema dostupnih fakulteta za prikaz.</p>
  </ng-template>
</div>
