<div class="container">
  <h1 class="title">Fakulteti</h1>

  <div *ngIf="fakulteti.length > 0; else nemaFakulteta" class="fakultet-list">
    <mat-card *ngFor="let fakultet of fakulteti" class="fakultet-card">
      <div class="fakultet-naziv">
        {{ fakultet.naziv }}
      </div>

      <div class="fakultet-adresa" *ngIf="fakultet.adresa">
        {{ fakultet.adresa.ulica }} {{ fakultet.adresa.broj }},
        {{ fakultet.adresa.mesto?.naziv }},
        {{ fakultet.adresa.mesto?.drzava?.naziv }}
      </div>

      <div class="dekan-info">
        <strong>Dekan:</strong> {{ fakultet.dekan.osoba.ime }} {{ fakultet.dekan.osoba.prezime }}
      </div>

      <div class="fakultet-opis">
        <span *ngIf="fakultet.opis; else nemaOpisa">{{ fakultet.opis }}</span>
        <ng-template #nemaOpisa><em>Nema opisa.</em></ng-template>
      </div>

      <div *ngIf="fakultet.katedre && fakultet.katedre.length > 0; else nemaKatedri">
        <h3 class="katedre-title">Katedre:</h3>
        <ul class="katedre-list">
          <li *ngFor="let katedra of fakultet.katedre || []">
            <button type="button" (click)="redirect(katedra)">
              {{ katedra.naziv }}
            </button>
          </li>
        </ul>
      </div>

      <ng-template #nemaKatedri>
        <p class="no-katedre">Nema dostupnih katedri.</p>
      </ng-template>

      <div class="fakultet-kontakt" *ngIf="fakultet.kontakt; else nemaKontakta">
        <div class="kontakt-tekst">{{ fakultet.kontakt }}</div>
      </div>
      <ng-template #nemaKontakta><em style="text-align: center; color: #555;">Nema dostupnih kontakt informacija.</em></ng-template>

    </mat-card>
  </div>

  <ng-template #nemaFakulteta>
    <p class="no-fakulteti">Trenutno nema dostupnih fakulteta za prikaz.</p>
  </ng-template>
</div>
