
// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  background-color: #f0f0f0;
  background-image: url("https://www.transparenttextures.com/patterns/egg-shell.png");
}

mat-card {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5) !important;
}



